{{$map := index .Args 0}}
{{$id := $map.id}}
{{$title := $map.title}}
{{$author := $map.author}}
{{$content := $map.content}}
{{$place := $map.place}}
{{$printer := $map.printer}}
{{$year := $map.year}}
{{$domain := "test.salamanca.school"}}
{{$pages_file := (list "../../data/" $id "/html/" $id "_pages.html" | join "")}}
{{$toc_file := (list "../../data/" $id "/html/" $id "_toc.html" | join "")}}
{{$info := dict "page" "work.html" "title" "{{$author}} - {{$title}}" "header" "" "description" "" "domain" $domain}}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"/> -->
        <title>{{$author}}: {{$title}} - The School of Salamanca</title>
        <meta name="author"      content="{{$author}}"/>
        <meta name="description" content="Reading view of {{$author}}: {{$title}}"/>
        <meta name="viewport"    content="width=device-width, initial-scale=1.0"/>
        <!-- TODO: canonical and language versions (next 2 lines) -->
        <link rel="canonical"    data-template="https://id.{{$domain}}/texts/{{$id}}"/>
        <!-- link rel="alternate"    data-template="gui:hreflangUrl"/ -->
    {{with $map.first}}
        <link rel="first"    href="{{.}}"/>
    {{end}}
    {{with $map.prev}}
        <link rel="prev"     href="{{.}}"/>
    {{end}}
    {{with $map.next}}
        <link rel="next"     href="{{.}}"/>
    {{end}}
        <link rel="meta"       type="application/rdf+xml" href="https://data.{{$domain}}/{{$id}}.rdf"/>
        <link rel="meta"       type="application/ld+json;profile=&#39;http://iiif.io/api/presentation/2/context.json&#39;" href="https://id.{{$domain}}/texts/{{$id}}?format=iiif"/>

        <!-- ==== CSS ==== -->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/><!-- TODO: Upgrade -->
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css"/>
        <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/tify@0.27.0/dist/tify.css">
        <link rel="stylesheet" type="text/css" href="/resources/css/style_work.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/tooltipster.css"/>

        <!-- ==== favIcon ==== -->
        <link rel="apple-touch-icon" sizes="57x57"   type="image/png" href="/resources/favicons/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60"   type="image/png" href="/resources/favicons/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72"   type="image/png" href="/resources/favicons/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76"   type="image/png" href="/resources/favicons/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" type="image/png" href="/resources/favicons/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" type="image/png" href="/resources/favicons/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="/resources/favicons/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="/resources/favicons/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/resources/favicons/apple-touch-icon-180x180.png"/>
        <link rel="icon"             sizes="16x16"   type="image/png" href="/resources/favicons/favicon-16x16.png" />
        <link rel="icon"             sizes="32x32"   type="image/png" href="/resources/favicons/favicon-32x32.png" />
        <link rel="icon"             sizes="96x96"   type="image/png" href="/resources/favicons/favicon-96x96.png" />
        <link rel="icon"             sizes="192x192" type="image/png" href="/resources/favicons/android-chrome-192x192.png" />
        <link rel="icon"             sizes="194x194" type="image/png" href="/resources/favicons/favicon-194x194.png" />
        <link rel="manifest"                                          href="/resources/favicons/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="/resources/favicons/mstile-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/>
    </head>

    <body id="body">
        <div id="wrap">

            <!-- Header and Navbar -->
{{include "resources/templates/template_navbar.html" $info}}

            <!-- Work-UI (Toggle Boxes, extended menu) -->
            <div class="navbar navbar-white navbar-fixed-top" style="z-index: 1; margin-top: 10px; padding-top: 49px;">
                <div class="row-fluid" style="margin-top: 0.9%;">
                    <h4 style="margin-top: 5px;" class="pull-left messengers">
                        <a href="/work.html?wid={{$id}}" title="(Gehe zum Anfang von) {{$author}}: {{$title}}. {{$place}}: {{$printer}}, {{$year}}">
                            <!-- &#xA0; -->
                            {{abbrev 15 $author}}: {{abbrev 20 $title}}
                        </a>
                    </h4>
                </div>
                <div class="row-fluid">
                    <div class="btn-toolbar pull-left">
                        <div class="btn-group hidden-lg"><!-- Hamburger Icon, used in small and eXtra-small views only: substitutes textmode, register, print and export functions -->
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-bars"></span>&nbsp;Mehr
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li class="disabled"><a><span class="glyphicon glyphicon-stats text-muted" aria-hidden="true"></span>&#xA0;<span class="text-muted"><i18n:text key="register">Register</i18n:text></span></a></li>-->
                                <li>
                                    <a onclick="applyEditMode();" class="btn original unsichtbar" style="cursor: pointer;">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Konstituiert
                                    </a>
                                </li>
                                <li>
                                    <a onclick="applyOrigMode();" class="btn edited" style="cursor: pointer;">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Diplomatisch
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-link" href="https://id.{{$domain}}/texts/{{$id}}?mode=details">
                                        <span class="fas fa-file-alt"></span>&nbsp;Katalogeintrag
                                    </a>
                                </li>
                                <!--
                                    <li class="disabled">
                                        <a>
                                            <span class="glyphicon glyphicon-print text-muted" aria-hidden="true"></span>&#xA0;<span class="text-muted"><i18n:text key="print">Drucken</i18n:text></span>
                                        </a>
                                    </li>
                                -->
                                <li>
                                    <a href="https://id.{{$domain}}/texts/{{$id}}" onclick="copyLink(this); return false;" title="Kopiert einen Hyperlink in die Zwischenablage">
                                        <span class="messengers fas fa-link"></span>&nbsp;Link kopieren
                                    </a>
                                    <span class="cite-link" style="display:none;">https://id.{{$domain}}/texts/{{$id}}?format=html</span>
                                </li>
                                <li>
                                    <a href="https://id.{{$domain}}/texts/{{$id}}" onclick="copyCitRef(this); return false;" title="Kopiert eine Zitierempfehlung in die Zwischenablage">
                                        <span class="messengers fas fa-feather-alt"></span>&nbsp;Zitierhinweis kopieren
                                    </a>
                                    <span class="sal-cite-rec" style="display:none">
                                        <span class="cite-rec-body">{{$author}}, {{$title}} (2019 [{{$year}}]), in:
                                            Die Schule von Salamanca. Eine Digitale Quellensammlung
                                            &lt;<a href="https://id.{{$domain}}/texts/{{$id}}">https://id.{{$domain}}/texts/{{$id}}</a>&gt;</span>
                                    </span>
                                </li>
                                <li>
                                    <a title="Download TEI/XML source file" href="https://id.{{$domain}}/texts/{{$id}}?format=tei">
                                        <span class="fas fa-file-code" aria-hidden="true"></span>&nbsp;TEI XML
                                    </a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a title="Plaintext Formate" href="https://id.{{$domain}}/texts/{{$id}}#">
                                        <span class="messengers fas fa-align-left"></span>&nbsp;Plain Text (TXT)
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://id.{{$domain}}/texts/{{$id}}?format=txt&mode=edit">konstituiert</a></li>
                                        <li><a href="https://id.{{$domain}}/texts/{{$id}}?format=txt&mode=orig">diplomatisch</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="Download RDF/XML data for this work" href="https://id.{{$domain}}/texts/{{$id}}?format=rdf">
                                        <span class="fas fa-code-branch" aria-hidden="true"></span>&nbsp;RDF (XML)
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a title="Download PDF file for this work" href="https://id.{{$domain}}/texts/{{$id}}?format=pdf">
                                        <span class="fas fa-file-pdf text-muted" aria-hidden="true"></span>&nbsp;PDF
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a>
                                        <span class="fas fa-book text-muted" aria-hidden="true"></span>&nbsp;<span class="text-muted">E-Book</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group"><!--Paginator dropdown-->
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    <span class="fa fa-anchor"></span>&nbsp;Seite&nbsp;<span class="caret"></span>
                                </button>
                                {{ include $pages_file }}
                            </div>
                        </div>
                        <div class="btn-group"><!--TOC button-->
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
                                <span class="fa fa-list-ul" aria-hidden="true"></span>&nbsp;Inhalt
                            </button>
                        </div>
                        <div class="btn-group hidden-md hidden-sm hidden-xs"><!--Details button-->
                            <a class="btn btn-link" href="https://id.{{$domain}}/texts/{{$id}}?mode=details">
                                <span class="fas fa-file-alt"></span>&nbsp;Katalogeintrag
                            </a>
                        </div>
                        <div class="btn-group hidden-md hidden-sm hidden-xs"><!--Textmode button-->
                            <div>
                                <section id="switchEditsSection">
                                    <span class="original unsichtbar" style="cursor: pointer;">
                                        <a class="btn btn-link" onclick="applyEditMode();">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Diplomatisch
                                        </a>
                                    </span>
                                    <span class="edited" style="cursor: pointer;">
                                        <a class="btn btn-link" onclick="applyOrigMode();">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Konstituiert
                                        </a>
                                    </span>
                                </section>
                            </div>
                        </div>
                        <div class="btn-group hidden-md hidden-sm hidden-xs"><!-- Textmode, register, print and export functions, in largeish views -->
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><!--Textmode button-->
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;Export&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu export-options" role="menu"><!-- Export buttons -->
                                <li><a onclick="copyLink(this); return false;" title="URL in die Zwischenablage kopieren"><span class="messengers fas fa-link"></span>&nbsp;Link kopieren</a><span class="cite-link" style="display:none;">https://id.{{$domain}}/texts/{{$id}}?format=html</span></li>
                                <li><a onclick="copyCitRef(this); return false;" title="Zitierhinweis in die Zwischenablage kopieren"><span class="messengers fas fa-feather-alt"></span>&nbsp;Zitierhinweis kopieren</a><span class="sal-cite-rec" style="display:none"><span class="cite-rec-body">Azpilcueta, Manual de Confessores y Penitentes (2019 [1556]), in: Die Schule von Salamanca. Eine Digitale Quellensammlung &lt;<a href="https://id.{{$domain}}/texts/{{$id}}">https://id.{{$domain}}/texts/{{$id}}</a>&gt;</span></span></li>
                                <li><a title="Download TEI/XML source file" href="https://id.{{$domain}}/texts/{{$id}}?format=tei"><span class="fas fa-file-code" aria-hidden="true"></span>&nbsp;TEI XML</a></li>
                                <li class="dropdown-submenu"><a title="Plaintext exportieren"><span class="messengers fas fa-align-left"></span>&nbsp;Plain Text (TXT)</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://id.{{$domain}}/texts/{{$id}}?format=txt&mode=edit">konstituiert</a></li>
                                        <li><a href="https://id.{{$domain}}/texts/{{$id}}?format=txt&mode=orig">diplomatisch</a></li>
                                    </ul>
                                </li>
                                <li><a title="Download RDF/XML data for this work" href="https://id.{{$domain}}/texts/{{$id}}?format=rdf"><span class="fas fa-code-branch" aria-hidden="true"></span>&nbsp;RDF (XML)</a></li>
                                <li><a title="Download PDF file for this work" href="https://id.{{$domain}}/texts/{{$id}}?format=pdf"><span class="fas fa-file-pdf" aria-hidden="true"></span>&nbsp;PDF</a></li>
                                <li class="disabled"><a><span class="fas fa-book text-muted" aria-hidden="true"></span>&nbsp;<span class="text-muted">E-Book</span></a></li>
                            </ul>
                        </div>
                        <div class="btn-group"><!-- Impressum button -->
                            <a class="btn btn-link" href="/legal.html"><!--<span class="fa fa-info-circle"></span>-->
                                <span class="fas fa-balance-scale"></span>&nbsp;Impressum & Datenschutz
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MAIN WINDOW -->
            <div class="container">
                <p class="watermark-wip-text"></p>
                <div id="findMe" class="row">
                    <!-- === TOC*** Modal Start === -->
                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Inhaltsverzeichnis
                                        <button id="toggleButton" class="btn btn-link btn-lg expanded">
                                            <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                                        </button>
                                    </h4>
                                </div>
                                {{ include $toc_file }}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- === TOC*** Modal End === -->
                </div>
                <!-- Main text -->
                <div id="wrapperWork"
                    class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12"
                    style="padding-top: 17%">
                    <div class="row" xml:space="preserve">
                        <!-- div id="iasSpinner1" class="iasSpinner" style="margin: auto; text-align: center; opacity: 0;">Loading...</div -->
                        <div id="iasPagination1" class="iasPagination" style="margin: auto; text-align: center;">
                            {{with $map.prev}}
                            <a class="prev" href="{{.}}">zurück</a>
                            {{end}}
                            |
                            {{with $map.top}}
                            <a href="{{.}}">zum Anfang</a>
                            {{end}}
                            |
                            {{with $map.next}}
                            <a class="next" href="{{.}}">weiter</a>
                            {{end}}
                        </div>
                        <div class="col-md-12">
                            <div id="iasContainer">
                                {{ $content }}
                            </div>
                        </div>
                        <div id="iasSpinner2" class="iasSpinner" style="margin: auto; text-align: center; opacity: 0; height: 3em;">Lädt...</div>
                        <div id="iasPagination2" class="iasPagination" style="margin: auto; text-align: center;">
                            {{with $map.prev}}
                            <a class="prev" href="{{.}}">zurück</a>
                            {{end}}
                            |
                            {{with $map.top}}
                            <a href="{{.}}">zum Anfang</a>
                            {{end}}
                            |
                            {{with $map.next}}
                            <a class="next" href="{{.}}">weiter</a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- JAVASCRIPT -->

        <!-- ==== Core JavaScript  ==== -->
        <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="/resources/js/jquery.bootstrap-autohidingnavbar.js"></script>
        <script src="/resources/js/jquery.tooltipster.js"></script>


        <!-- ==== Back to top ==== -->
        <a id="backTop"></a>
        <script src="/resources/js/jquery.backTop.js"></script>

        <!-- ==== Scroll an anchor into view if we have one ==== -->
        <script>
            function myScrollIntoView(targetId) {
                offset = $('#' + targetId).offset().top;
                // console.log(`$('#${targetId}').offset().top = ${offset}.`)
                goHere = offset - parseInt($('div.navbar-white').css('height')) - 15;
                // console.log(`Go to ${ goHere }.`)
                $('html, body').animate({scrollTop: goHere}, 800, 'swing', function () {
                    $('#' + targetId).effect( 'highlight', {color:'LightSkyBlue'}, 1200 );
                });
            }
            $('a[href*="#"]').click(function(event){
                z = $(this).attr('href').slice($(this).attr('href').indexOf('#') + 1)
                if ($(z).length != 0) {
                    console.log(`Going locally to ${ z } ...`)
                    myScrollIntoView(z);
                    event.preventDefault();
                }
            });
        </script>

        <!-- ==== Toggle diplomatic/constituted textmode ==== -->
        <script src="/resources/js/sal-common.js"></script>

        <!-- ==== Show GUI-Nav when scolling to top ==== -->
        <script>
            $(document).ready(function () {
                $('.navbar-white').css('padding-top', parseInt($('#main-menu').css('height'))-2);
                $('.navbar-white').autoHidingNavbar().autoHidingNavbar('setShowOnBottom', false).autoHidingNavbar('setAnimationDuration', 400);
            });
        </script>

        <!-- ==== InfiniteAjaxScroll for progressive enhancement ==== -->
        <script src="https://unpkg.com/@webcreate/infinite-ajax-scroll@3.1.0-beta.1/dist/infinite-ajax-scroll.min.js"></script>
        <script>
            let validParams = ['mode', 'q', 'format', 'viewer']

            let ias = new InfiniteAjaxScroll('#iasContainer', {
                item:       '.iasItem',
                next:       '.next',
                prev:       '.prev',
                pagination: '.iasPagination',
                spinner:    '.iasSpinner',
                logger:     false               // don't clobber the console
                // negativeMargin: 400          // when to start loading new items (before reaching the very bottom),
            });
            ias.on('page', (event) => {             // update the url to reflect the new page we've just scrolled to
                let target = new URL(event.url, location.protocol + '//' + location.hostname + '/'); // event.url is a string, but we want to use URL methods (second parameter is basename)
                let loadParams = new URLSearchParams(location.search);
                /* if ($('a.btn.unsichtbar.original').length) { } else {
                    loadParams.set('mode', 'orig');
                } */
                loadParams.forEach(function(value, key) { // sanitize query parameters
                    if (validParams.indexOf(key) === -1) { loadParams.delete(key) };
                });
                let newParams = loadParams ? '?' + loadParams : '';
                newUrl = target.pathname.substr(target.pathname.lastIndexOf('/') + 1) + newParams + target.hash;
                history.replaceState(history.state, '', newUrl);
            });
            ias.on('nexted', (event) => {           // apply original/edited mode to newly added elements
                applyMode();
            });
            ias.on('preved', (event) => {           // apply original/edited mode to newly added elements
                applyMode();
            });
            ias.on('appended', function(items) {    // add functionality to newly loaded elements (those functions are mostly copied from below)
                // 1. Refresh Popover Boxes to have a function on click ...
                $('[data-rel="popover"]').popover({
                    trigger:    'click',
                    animation:  'true',
                    placement:  'bottom',
                    container:  'body',
                    template:   '<div class="popover sal-toolbox-body"><div class="popover-content"></div></div>',
                    html:       true,
                    title:      function() { return $('#popover-head').html(); },
                    content:    function(){
                        toolboxHighlight(this,'on');
                        return $(this).siblings('.sal-toolbox-body').html()
                    }
                    // close popup by clicking outside
                }).click(function(event) {event.preventDefault();});
                // 2. Refresh ImageViewer Stuff...
                $('.pageNo').click(function(event) {
                    event.preventDefault();                                     // do not actually go to this url
                    $('#parent').dialog('open');                                // show Viewer with jquery-ui Dialog method
                    $('#parent small').text($(this).attr('href'));              // update Viewer Heading
                    $('#parent div').attr('title', $(this).attr('href'));       // update Viewer Title
                });
                // 3. Add tooltip
                $('.messengers').tooltipster({'multiple': true});
                // 4. Add highlighting as needed
                $('#hiliteBox a.highlighted').each(function() {
                    $( this ).click();                                          // this disables highlighting
                    $( this ).click();                                          // this re-enables it
                });
            });
        </script>

        <!-- ==== Load Paginator content when clicking on dropdown-menu ==== -->
        <script>
            function loadPaginatorContent() {
                var $self = `<span data-template="app:loadWRKpagination"></span>`;
                $('#loadMeLast').innerHtml = ($self + '#later li'); 
            }
        </script>

        <!-- ==== TOC tree ==== -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.9/jstree.min.js"></script>
        <script>
            var tree = $('#tableOfConts');
            tree.bind('loaded.jstree', function (event, data) {
                tree.jstree(true).open_node($('#tableOfConts').find('li').first());;
            });
            $('#tableOfConts').jstree({
                    'core': { }
            }).bind('select_node.jstree', function (e, data) {
                    var href = data.node.a_attr.href;
                    document.location.href = href;
            });
        </script>

        <!-- ==== Toggle Table of Contents ==== -->
        <script>
            $(function() {
                $('#toggleButton').click(function() {
                    if ($('button[id="toggleButton"]').hasClass('expanded')) {
                        $('#tableOfConts').jstree('close_all');
                        $('button[id="toggleButton"]').removeClass('expanded').addClass('collapsed');
                        $('span[class="glyphicon glyphicon-resize-small"]').removeClass('glyphicon glyphicon-resize-small').addClass('glyphicon glyphicon-fullscreen');
                    }
                    else if ($('button[id="toggleButton"]').hasClass('collapsed')) {
                        $('#tableOfConts').jstree('open_all');
                        $('button[id="toggleButton"]').removeClass('collapsed').addClass('expanded');
                        $('span[class="glyphicon glyphicon-fullscreen"]').removeClass('glyphicon glyphicon-fullscreen').addClass('glyphicon glyphicon-resize-small');
                    }
                });
            });
        </script>

        <!-- ==== Close Modal on Clicking a TOC link ==== -->
        <script>
            $('.hideMe').click(function(){
                    // 'this' would reference the anchor that was clicked
                    $('#myModal').modal('hide');  
                });
        </script>
        
        <!-- ==== Do not close export menu on click ==== -->
        <script>
            $(document).on('click', '.dropdown-menu.export-options', function (e) {
                e.stopPropagation();
            });
        </script>

        <!-- ==== Remember current position on Clicking a language link ==== -->
        <script>
            function replaceQueryParam(param, newval, search) {
                var regex = new RegExp('([?;&])' + param + '[^&;]*[;&]?');
                var query = search.replace(regex, '$1').replace(/&$/, '');
                return (query.length > 2 ? query + '&' : '?') + (newval ? param + '=' + newval : '');
            }
            $('.lang-switch').click(function(event){
                var str = window.location.search
                str = replaceQueryParam('lang', $(this).text(), str)
                window.location = window.location.pathname + str + window.location.hash
                // alert(window.location)
                event.preventDefault()
                });
        </script>

        <!-- ==== Paragraph popup with link, refresh and print icons ====  -->
        <script>
            $('[data-rel="popover"]').popover({
                    trigger:    'click',
                    animation: 'true',
                    placement:  'bottom',
                    container: 'body',
                    template: '<div class="popover sal-toolbox-body"><div class="popover-content"></div></div>',
                    html:       true,
                    title:      function() {return $('#popover-head').html();},
                    content: function(){
                        toolboxHighlight(this,'on');
                        return $(this).siblings('.sal-toolbox-body').html()
                    }
                    // close popup by clicking outside
                }).click(function(event) {event.preventDefault();}); // don't jump around to the anchor associated with the span
            $('body').on('click', function (event) {
                $('[data-rel="popover"]').each(function() {
                    event.preventDefault;
                    if (!$(this).is(event.target) 
                        && $(this).has(event.target).length === 0 
                        && $('.popover').has(event.target).length === 0) {
                        toolboxHighlight(this,'off');
                        $(this).popover('hide');
                    }
                });
            });
            function toolboxHighlight(elem, mode) {
                var target = elem.parentElement.nextElementSibling;
                if (mode === 'on') {
                    if (elem.parentElement.className === 'sal-toolbox-marginal') {
                        elem.style.visibility = 'visible';
                    }
                    elem.style.setProperty('color', '#102873', 'important');
                    target.style.backgroundColor = '#F0F0F0';
                } else if (mode === 'off') {
                    elem.style.removeProperty('color');
                    target.style.backgroundColor = '';
                    if (elem.parentElement.className === 'sal-toolbox-marginal') {
                        elem.style.removeProperty('visibility');
                    }
                }
            }
        </script>
        
        <!-- Toolboxes: highlighting and copy functions -->
        <script>
            function copyLink(elem) {
                var target = elem.parentElement.getElementsByClassName('cite-link')[0];
                var input = document.createElement('textarea');
                input.setAttribute('style', 'width:0;height:0;opacity:0;'); // hidden
                input.textContent = target.textContent;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                copyNotify(elem);
                document.body.removeChild(input);
            }
            function copyCitRef(elem) {
                var target = elem.parentElement.getElementsByClassName('sal-cite-rec')[0];
                var input = document.createElement('textarea');
                input.setAttribute('style', 'display:block; width:0; height:0; opacity: 0;');
                // construct string to be copied: get pre-rendered work/passage citation strings and insert the current date
                var v1 = target.getElementsByClassName('cite-rec-body')[0].textContent;
                var v2 = getI18nAccessString();
                input.textContent = v1 + ' ' + v2;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                copyNotify(elem);
                document.body.removeChild(input);
            }
            function getI18nAccessString() {
                var accessed;
                var date;
                var lang = getLang();
                if (!['es', 'de', 'en'].includes(lang)) lang = 'en';
                var current = new Date();
                var options = { year: 'numeric', month: 'long', day: 'numeric' };
                if (lang === 'de'){
                    accessed = 'Aufgerufen am';
                    date = current.toLocaleDateString('de-DE', options);
                } else if (lang === 'es'){
                    accessed = 'Consultado por última vez el';
                    date = current.toLocaleDateString('es-ES', options);
                } else {
                    accessed = 'Accessed';
                    date = current.toLocaleDateString('en-GB', options);
                }
                return '(' + accessed + ' ' + date + ')';
            }
            function copyNotify(elem) {
                var del = elem.parentElement.getElementsByClassName('.copy-alert')[0];
                if (typeof variable !== 'undefined' && variable !== null) {
                    elem.parentElement.removeChild(del);
                }
                var language = getLang();
                console.log('$lang=' + language);
                var msg;
                if (language === 'de') {
                    msg = 'In die Zwischenablage kopiert'
                } else if (language === 'es') {
                    msg = 'Copiado al portapapeles'
                } else {
                    msg = 'Copied to clipboard'
                }
                var popup = document.createElement('span');
                popup.setAttribute('class', 'copy-alert');
                popup.textContent = msg;
                elem.parentElement.appendChild(popup);
                setTimeout(function() {
                    $('.copy-alert').fadeOut(1000);
                }, 1500);
            }
        </script>

        <!-- ==== Imageviewer ==== -->
        <div id="parent">
            <!-- iframe id="Viewer" title="Image Viewer" src="/viewer.html?wid={{$id}}" allowfullscreen="" style="min-width: 99%;height:99%;"></iframe -->
            <div id="Viewer" title="Image Viewer" style="height: 640px"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/tify@0.27.0/dist/tify.js"></script>
        <script>
            function getUrlParams( prop ) {
                var params = {};
                var search = decodeURIComponent( window.location.href.slice( window.location.href.indexOf( '?' ) + 1 ) );
                var definitions = search.split( '&' );

                definitions.forEach( function( val, key ) {
                    var parts = val.split( '=', 2 );
                    params[ parts[ 0 ] ] = parts[ 1 ];
                } );

                return ( prop && prop in params ) ? params[ prop ] : params;
            };

            function getLang() {
                if (getUrlParams('lang').length > 0 
                        && ['de','en','es'].indexOf(getUrlParams('lang').substring(0,2)) >= 0) {
                    return getUrlParams('lang').substring(0,2);
                }
                else if (window.location.href.indexOf('/de/') != -1) return 'de';
                else if (window.location.href.indexOf('/es/') != -1) return 'es';
                else return 'en';
            };

            let tifyOptions = {
                container: '#Viewer',
                // filters: { brightness: 0.5, contrast: 0.5, saturation: 2.3 },
                language: getLang(),
                // manifestUrl: 'https://id.{{$domain}}/texts/{{$id}}?format=iiif',       // https://example.com/iiif/manifest.json',
                // manifestUrl: 'https://www.salamanca.school/de/iiif-out.xql?wid={{$id}}',  // https://example.com/iiif/manifest.json',
                manifestUrl: 'https://www.{{$domain}}/data/{{$id}}/{{$id}}.json',       // https://example.com/iiif/manifest.json',
                pageLabelFormat: 'P', // P: physical page number, L: logical page number
                // pages: [0, 3], // default: null. The page(s) to display initially. If null, the initial page is determined by the manifest’s startCanvas
                // pan: { x: .45, y: .6 }, // Initial pan. By default, the image is centered
                // urlQueryKey: 'salView1', // Specify instance to manipulate via query parameters
                // urlQueryParams: [], // Which settings can be manipulated via query parameters? Default: ['filters', 'pages', 'pan', 'rotation', 'view', 'zoom'] 
                // view: '', // Default: ''. The initially displayed view (panel); scan, fulltext, thumbnails, toc, info, help, or empty (same as scan).
                // viewer: {}, // An object with options for OpenSeadragon
                zoom: null,
            };
            myViewer = new Tify(tifyOptions);
            // myViewer.mount('#Viewer');

            function setTifyPage (canvasId, title) {
                var targetPage = myViewer.app.canvases.find(x => x['@id'] == canvasId).page;
                myViewer.ready.then(() => {
                    myViewer.setPage([targetPage])
                });
                // Update some values of the dialog popup window
                $('#parent small').text(title);         // update Viewer Heading
                $('#parent div').attr('title', title);  // update Viewer Title
                // $('#Viewer')[0].contentDocument.getElementById('downloadImages').href = 'https://c104-131.cloud.gwdg.de/sal-facs/{{$id}}/{{$id}}.zip';  // update Download button
                // // $('#Viewer')[0].contentDocument.getElementById('downloadImages').href = 'http://facs.salamanca.school/{{$id}}/{{$id}}.zip';  // update Download button
                // $('#Viewer')[0].contentDocument.getElementById('downloadImages').setAttribute('download', '{{$id}}.zip');  // update Download button
            };

            // Bind click event for opening viewer popup
            $(document).on('click', '.pageNo', function(event){
                event.preventDefault(); // do not actually go to this url - or go there if javascript is disabled
                $(this).blur();

                // Configure viewer to go to the correct canvas
                var targetCanvasID = $(this).attr('data-canvas');
                setTifyPage(targetCanvasID, targetCanvasID);

                // Open the dialog window with jquery-ui Dialog method
                $('#parent').dialog('open');

                // Reflect viewer status in url
                params = new URLSearchParams(window.location.search) ;
                params.set('viewer', targetCanvasID);
                window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
            });

            // Update url when paging in viewer (a bit clumsy but it's working)
            function viewObsCallback (mutations) {
                mutations.forEach(function(mutation) {
                    number = parseInt(mutation.target.data.split(':')[0].trim(), 10);
                    canvas = myViewer.app.canvases[number-1];
                    id = canvas['@id'];
                    console.log(`Open viewer on canvas ${ id } / image ${ number }.`);
                    params = new URLSearchParams(window.location.search) ;
                    params.set('viewer', id);
                    window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
                });
            };
            var viewerObserver = new MutationObserver(viewObsCallback);
            var observerOptions = {
                childList: false,
                attributes: false,
                characterData: true,
                subtree: true,
            };
            viewerObserver.observe(document.getElementById('Viewer'), observerOptions);

            // Bind click event for syncing/scrolling text area
            /* $('#Viewer').contents().find('#sync').on('click', function(){
                var m     = document.getElementById('Viewer').contentWindow.MyObjects.myMirador;
                $canvasId = m.viewer.workspace.windows[0].canvasID
                console.log(`Viewer's sync button has been clicked on canvasId ${ $canvasId }.`);
                var target = $(`a[data-canvas='${ $canvasId }']`);
                if (target.length) {
                    console.log('Going to #' + target.attr('id'));
                    myScrollIntoView('#'+ target.attr('id'));
                    event.preventDefault();
                } else {
                    console.log('Target element for canvasId ' + $canvasId + ' is not in DOM.');
                    $.getJSON( 'iiif-in.xql?canvasId=' + $canvasId )
                        .done(function( json ) {
                            realTarget = json[$canvasId];
                            console.log('Going to ' + realTarget + '?viewer=' + $canvasId + '.');
                            window.location.href = realTarget + '?viewer=' + $canvasId;
                        })
                        .fail(function( jqxhr, textStatus, error ) {
                            var err = textStatus + ', ' + error;
                            console.log( 'JSON Request for page id Failed: ' + err );
                        });
                }
            }); */
        </script>

        <!-- ==== Mobil-View: Hide opened collapsed menu after clicking elsewhere on page ==== -->
        <script>
            $(document).on('click',function(){
                $('.collapse .navbar-collapse').collapse('hide');
            });
        </script>

        <!-- ==== Mobil-View: scroll to last collapsed navbar item on mobile when there are many items ==== -->
        <script>
            $('.navbar-collapse').css({ maxHeight: $(window).height() - $('.navbar-header').height() + 'px' });
        </script>

        <!-- One document.ready function collecting init for all of the above... -->
        <!-- document.DOMContentLoaded triggers when DOM has been completely parsed (no images, styles and async scripts), window.load event triggers when *everything* has been loaded. -->
        <script>
            document.addEventListener('DOMContentLoaded', function(event) {
                // Init backTop
                $('#backTop').backTop({position: 100, speed: 200, color: 'white' });
                // apply constituted/diplomatic mode
                if (window.location.search.match(/mode=((orig)|(edit))/i)) {
                    applyMode();
                }
                // Show GUI-Nav when scolling to top
                $('.navbar-white').autoHidingNavbar().autoHidingNavbar('setShowOnBottom', false).autoHidingNavbar('setAnimationDuration', 400);
                // Load Paginator
                $('#dropdownMenu1').click(loadPaginatorContent);

                // Initialize Image viewer dialogue window
                $('#parent').dialog({
                    position:   {my: 'left top', at: 'left+5 bottom+40', of: 'div.navbar'},
                    autoOpen:   false,
                    width:      Math.min($(window).width()* 0.4, 600),   // startsize of the dialog
                    height:     Math.min($(window).height()* 0.8, 700),
                    create:     function(event, ui) {
                                    $(event.target).parent().css('position', 'fixed');
                                },
                    resizeStop: function(event, ui) {
                                    var position = [(Math.floor(ui.position.left) - $(window).scrollLeft()),
                                                    (Math.floor(ui.position.top)  - $(window).scrollTop())];
                                    $(event.target).parent().css('position', 'fixed');
                                    $('#parent').dialog('option','position', position);
                                },
                    close:      function(event, ui) {
                                    params = new URLSearchParams(window.location.search) ;
                                    params.delete('viewer');
                                    window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
                                    params.set('viewer', null);
                                    // document.getElementById('Mirador')
                                    event.stopImmediatePropagation();
                                    event.preventDefault();
                                    return false;
                                }
                });
            });
            window.addEventListener('load', (event) => {
                // move to anchor if we have one in our url
                let searchId = window.location.hash.slice(1);
                if (searchId && document.getElementById(searchId) != null) {
                    // console.log(`Scroll to element '${searchId}'.`)
                    myScrollIntoView(searchId);
                }

                // If we have a 'viewer' URL parameter, do open it
                if (window.location.search.indexOf('viewer=') != -1) {
                    // Configure viewer to go to the correct canvas
                    var params = new URLSearchParams(window.location.search) ;
                    var targetCanvasID = params.get('viewer');
                    setTifyPage(targetCanvasID, targetCanvasID);

                    // Open the dialog window with jquery-ui Dialog method
                    $('#parent').dialog('open');

                    // Reflect viewer status in url
                    params = new URLSearchParams(window.location.search) ;
                    params.set('viewer', targetCanvasID);
                    window.history.replaceState(null, '', window.location.pathname + '?' + params + window.location.hash);
                }
            });
        </script>

    </body>
</html>
