<!-- Footer -->
 <div id="footer" class="container">
    <div class="row"><!-- Sponsors -->
        <div class="col-md-3 hidden-sm hidden-xs"><!-- Academy -->
            <a href="http://www.adwmainz.de/">
                <img class="img-responsive" style="margin-top: 10%" src="/resources/images/logos_misc/logo_akademie.png">
            </a>
        </div>
        <div class="hidden-lg hidden-md col-sm-4" style="text-align: center; margin-top: 1%">
            <a href="http://www.adwmainz.de/">
                <p>
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;Academy of 
                    Sciences and <br>Literature | Mainz, Germany
                </p>
            </a>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs"><!-- University -->
            <a href="http://www2.uni-frankfurt.de">
                <img style="margin-top: 3%" class="img-responsive" src="/resources/images/logos_misc/goethe-uni-logo.gif">
            </a>
        </div>
        <div class="hidden-lg hidden-md col-sm-4" style="text-align: center;">
            <a href="http://www2.uni-frankfurt.de">
                <p>
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;Goethe-Universität<br>
                    Frankfurt, Germany<br>Institut für Philosphie
                </p>
            </a>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs" style="padding-top:4px;"><!-- Max Planck Institute -->
            <a href="http://www.lhlt.mpg.de">
                <img class="img-responsive" style="float: right; height: 100px;" src="/resources/images/logos_misc/mpilhlt-small.svg">
            </a>
        </div>
        <div class="hidden-lg hidden-md col-sm-4" style="text-align: center;margin-top: 1%">
            <a href="http://www.lhlt.mpg.de">
                <p>
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;Max-Planck-Institut<br>für
                    Rechtsgeschichte<br>und Rechtstheorie
                </p>
            </a>
        </div>
    </div>

    <div class="row"><!-- Contact, information, privacy, version -->
        <div class="col-md-12 hidden-sm hidden-xs" style="text-align: center;"><br>
            <p style="font-size:1.2em">
                <a href="contact.html"><i class="far fa-envelope"></i>&nbsp;Contact</a> |
                <a href="legal.html"><i class="fa fa-balance-scale"></i>&nbsp;Legal Information &amp; Privacy</a>
            </p>
            <p>
                <span style="color:#92A4B1;"></span><i class="far fa-copyright"></i>&nbsp;<span title="guest">The School of Salamanca 2015-2025</span>
            </p>
        </div>
        <div class="col-sm-12 hidden-lg hidden-md" style="text-align: center">
            <p>
                <a href="contact.html"><i class="far fa-envelope"></i>&nbsp;Contact</a> |
                <a href="legal.html"><i class="fa fa-balance-scale"></i>&nbsp;Legal Information &amp; Privacy</a>
            </p>
            <p>
                <span style="color:#92A4B1;"></span><i class="fa fa-copyright"></i>&nbsp;<span title="guest">The School of Salamanca 2015-2025</span>
            </p>
        </div>
    </div>

    <div class="row"><!-- CC BY -->
        <div class="col-md-12" style="text-align: center">
            <!-- <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /> -->
            Data of the School of Salamanca project are licensed (if not stated otherwise) under the terms of a
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                Creative Commons Attribution 4.0 International (CC BY 4.0)
                <span class="glyphicon glyphicon-new-window" style="padding-left:0.3em;"></span>
            </a>.
        </div>
    </div>
</div>
