{{ $domain := "salamanca.school" }}
{{ $info := index .Args 0 }}
{{ $wid := $info.id }}

<!DOCTYPE html>
<!-- TODO: Check if $wid contains a volume identifier, then parse and handle accordingly... -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
        <meta name="description" content="Bibliographical data for {{ $info.author_short }}: {{ $info.title_short }}">
        <title>{{ $info.author_short }}: {{ $info.title_short }} - The School of Salamanca</title>

        <link rel="canonical" href="https://www.{{ $domain }}/{{ $info.page }}?wid={{ $wid }}">
        <link rel="alternate" hreflang="de" href="https://www.{{ $domain }}/{{ $info.page }}?wid={{ $wid }}&lang=de">
        <link rel="alternate" hreflang="en" href="https://www.{{ $domain }}/{{ $info.page }}?wid={{ $wid }}&lang=en">
        <link rel="alternate" hreflang="es" href="https://www.{{ $domain }}/{{ $info.page }}?wid={{ $wid }}&lang=es">

        <!-- ==== CSS ==== -->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/><!-- TODO: Upgrade -->
        <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/style_default.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/tooltipster.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/ispinner.prefixed.css">

        <!-- ==== favIcon ==== -->
        <link rel="apple-touch-icon" type="image/png" sizes="57x57"   href="/resources/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" type="image/png" sizes="60x60"   href="/resources/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" type="image/png" sizes="72x72"   href="/resources/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" type="image/png" sizes="76x76"   href="/resources/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/resources/favicons/apple-touch-icon-114x114.png">
        <link rel="a                pple-touch-icon" type="image/png" sizes="120x120" href="/resources/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/resources/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/resources/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/resources/favicons/apple-touch-icon-180x180.png">
        <link rel="icon"             type="image/png" sizes="32x32"   href="/resources/favicons/favicon-32x32.png">
        <link rel="icon"             type="image/png" sizes="194x194" href="/resources/favicons/favicon-194x194.png">
        <link rel="icon"             type="image/png" sizes="96x96"   href="/resources/favicons/favicon-96x96.png">
        <link rel="icon"             type="image/png" sizes="192x192" href="/resources/favicons/android-chrome-192x192.png">
        <link rel="icon"             type="image/png" sizes="16x16"   href="/resources/favicons/favicon-16x16.png">
        <link rel="manifest" href="/resources/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/resources/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body id="body">
        <div id="wrap">

            <!-- Header and Navbar -->
{{include "resources/templates/template_navbar.html" $info}}

            <!-- Main page area -->
            <div id="content" class="container-fluid">

                <!-- Page title -->
                <div class="container">
                    <h2 style="margin-top: 3%" class="hidden-md hidden-sm hidden-xs">
                        <span class="text-muted"><span class="text-muted">{{ $info.author_full }}: </span>
                                                <span class="text-muted">{{ $info.title_short }}</span>{{ if $info.volumes }}<span class="text-muted"> (Multivolume work) </span>{{ end }}
                                                <hr>
                        </span>
                    </h2>
                    <h2 style="margin-top: 2%" class="hidden-lg hidden-sm hidden-xs">
                        <span class="text-muted"><span class="text-muted">{{ $info.author_full }}: </span>
                                                <span class="text-muted">{{ $info.title_short }}</span>{{ if $info.volumes }}<span class="text-muted"> (Multivolume work) </span>{{ end }}
                                                <hr>
                        </span>
                    </h2>
                    <h2 class="hidden-lg hidden-md">
                        <span class="text-muted"><span class="text-muted">{{ $info.author_full }}: </span>
                                                <span class="text-muted">{{ $info.title_short }}</span>{{ if $info.volumes }}<span class="text-muted"> (Multivolume work) </span>{{ end }}
                                                <hr>
                        </span>
                    </h2>
                </div>

                <div>
                    <div class="row"><!-- Main entry -->
                        <div class="col-md-8"><!-- Metadata for digital and source ed. -->
                            <div>
                                <h4>Digital Edition</h4>
                                <div>
                                    <table class="borderless table table-hover"><!-- Metadata -->
                                        <tbody>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Citation title:</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.title_short }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Author:</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.author_full }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Electronic publication:</td>
                                                <td class="col-md-9">{{ $info.el_publication_date }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Scholarly editing:</td>
                                                <td class="col-md-9">{{ $info.schol_ed }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Technical editing:</td>
                                                <td class="col-md-9">{{ $info.tech_ed }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Series:</td>
                                                <td class="col-md-9">The School of Salamanca. A Digital Collection of Sources</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Series volume:</td>
                                                <td class="col-md-9">{{ $info.series_num }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Series directors:</td>
                                                <td class="col-md-9">Thomas Duve; Matthias Lutz-Bachmann</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3">Published by:</td>
                                                <td class="col-md-9">Akademie der Wissenschaften und der Literatur, Mainz</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="catalogue-citation">
                                    <span style="font-weight:bold">Proposed citation:</span><br>
                                    <span class="cite-rec-body">{{ $info.author_short }}, {{ $info.title_short }} ({{ $info.el_publication_date }} [{{ $info.year }}]),
                                                                in: The School of Salamanca. A Digital Collection of Sources
                                                                &lt;<a href="https://id.{{ $domain }}/texts/{{ $wid }}">https://id.{{ $domain }}/texts/{{ $wid }}</a>&gt;
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h4>Bibliographical Information</h4>
                                <div>
                                    <table class="borderless table table-hover"><!-- Source edition -->
                                        <tbody>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Title:</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.title_full }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Period of publication:</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.src_publication_period }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Publisher:</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.printer_full }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Publish place:</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.place }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3" style="line-height: 1.2">Language(s):</td>
                                                <td class="col-md-9" style="line-height: 1.2">{{ $info.language }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4"><!-- Views, downloads -->
                            <div>
                                <div>
                                    <h4>Views for this Text</h4>
                                    <ul>
                                        <li>
                                            <h5>Reading View:</h5>
                                            <div>
                                                <a class="g_enriched_approved" href="https://id.{{ $domain }}/texts/{{ $wid }}?format=html">
                                                    <img src="{{ $info.thumbnail }}" class="img-responsive thumbnail" alt="Titlepage{{ if $info.volumes }} Multivolume{{ end }}">
                                                </a>
                                                <a class="btn btn-info button g_enriched_approved" href="https://id.{{ $domain }}/texts/{{ $wid }}?format=html">
                                                    <span class="glyphicon glyphicon-file"></span> Read
                                                </a>
                                            </div>
                                        </li>
                                        <li><a href="/viewer_standalone.html?wid={{ $wid }}" target="_blank" rel="noopener noreferrer">Facsimiles</a></li>
                                    </ul>
                                </div>
                                <hr>
                                <div>
                                    <h4>Metadata</h4>
                                    <ul>
                                        <li><a href="https://id.{{ $domain }}/texts/{{ $wid }}?format=tei&amp;mode=meta">TEI Header</a></li>
                                        <li><a href="https://id.{{ $domain }}/texts/{{ $wid }}?format=rdf">RDF</a></li>
                                        <li><a href="https://facs.{{ $domain }}/iiif/presentation/collection/{{ $wid }}">IIIF Collection</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <hr>
                                    <h4>Download</h4>
                                    <ul>
                                        <li><a href="https://id.{{ $domain }}/texts/{{ $wid }}?format=tei">XML (TEI P5)</a></li>
                                        <li><a href="https://id.{{ $domain }}/texts/{{ $wid }}?format=txt&amp;mode=edit">Text (constituted)</a></li>
                                        <li><a href="https://id.{{ $domain }}/texts/{{ $wid }}?format=txt&amp;mode=orig">Text (diplomatic)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

{{ if $info.volumes }}
                    <div><!-- Individual Volumes -->
                        <hr>
                        <h4>Volumes ({{ $info.volumes.number }})</h4>
    {{ range $info.volumes.volumes }}
                        <div class="row"><!-- Volume {{ .num }} -->
                            <div class="col-md-3"><!-- teaser -->
                                <div class="catrecord-teaser">
                                    <a class="{{ .status }}" href="https://id.{{ $domain }}/texts/{{ $wid }}:vol{{ .num }}?format=html">
                                        <img src="{{ .thumbnail }}" class="img-responsive thumbnail teaser-thumbnail" alt="Titlepage Volume">
                                    </a>
                                    <a class="btn btn-info teaser-button {{ .status }}" href="https://id.{{ $domain }}/texts/{{ $wid }}:vol{{ .num }}?format=html">
                                        <span class="glyphicon glyphicon-file"></span> <span>Volume {{ .num }}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9 catrecord-teasertext"><!-- metadata -->
                                <table class="borderless table table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-2" style="line-height: 1.2">Title:</td>
                                            <td class="col-md-10" style="line-height: 1.2">{{ .title_short }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2" style="line-height: 1.2">Volume (original):</td>
                                            <td class="col-md-10" style="line-height: 1.2">{{ .num }} of {{ $info.volumes.number }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2" style="line-height: 1.2">Imprint:</td>
                                            <td class="col-md-10" style="line-height: 1.2">{{ .place }} : {{ .printer_full }}, {{ .year }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2" style="line-height: 1.2">Electronic publication:</td>
                                            <td class="col-md-10" style="line-height: 1.2">{{ .el_publication_date }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span><a href="https://id.{{ $domain }}/texts/{{ $wid }}:vol{{ .num }}?mode=details"><span class="fa fa-arrow-right"></span> Full catalogue record</a></span><br>
                                <span><a href="/viewer_standalone.html?wid={{ $wid }}" target="_blank" rel="noopener noreferrer"><span class="fa fa-arrow-right"></span> Facsimiles</a></span>
                            </div>
                        </div>
    {{ end }}
                    </div>
{{ end }}
                </div>
            </div>

{{ include "/resources/templates/template_footer.html" }}

        </div>
            
        <!-- ==== Core JavaScript ==== -->
        <a id="backTop" class="white" style="right: 40px; bottom: 40px; position: fixed; display: none;"></a>

        <script type="text/javascript" src="/resources/js/jquery-1.js"></script>
        <script type="text/javascript" src="/resources/js/bootstrap.js"></script>
        <script type="text/javascript" src="/resources/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/resources/js/jquery.js"></script><!-- this is only the backTop function -->

        <script type="text/javascript">
            jQuery('body').bind('click', function(e) {                                              // hide navbar when clicking anywhere
                if(jQuery(e.target).closest('.navbar-collapse').length == 0) {
                    // click happened outside of .navbar, so hide
                    var opened = jQuery('.navbar-collapse').hasClass('in');
                    if ( opened === true ) {
                        jQuery('.navbar-collapse').collapse('hide');
                    }
                }
            });

            $(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" });  // set navbar height

            $(document).ready(function () {
                $("#content").css('padding-top', parseInt($('.alert').css("height")) + 2);
                $('#backTop').backTop({                                                                 // Position Back-to-top arrow
                    'position' : 100,
                    'speed' : 200,
                    'color' : 'white',
                });
            });
        </script>

    </body>
</html>
